@model DataDeliveryAdmin.Models.StudentViewModel


<body>
<table class="table" id="table">
	<thead>
		<tr>
			<th>Neptun kód</th>
			<th>Név</th>
			<th>Email</th>
			<th>Szak</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var student in Model.data)
		{
			<tr>
				<td>@student.attributes.neptun_id</td>
				<td>@student.attributes.name</td>
				<td>@student.attributes.email</td>
				<td>@student.attributes.department.data.attributes.department_name</td>
				<td>
					<a href="#" onclick="redirectToNewPage(@Model.Courseid, @student.id); return false;">Jegy hozzáadása</a>
				<td>
						<button onclick="redirectToNewPage2(@Model.Courseid, @student.id); return false;">Végső jegy számitás</button>
				</td>
					
			</tr>
		}

			


<script>
	function redirectToNewPage2(courseId, studentId, teacherId, departmentId) {
	var newUrl = "/CourseGrade/AddFinal?courseId=" + courseId + "&studentId=" + studentId + "&teacherId=" + teacherId + "&departmentId=" + departmentId;
			window.location.replace(newUrl);
				}
</script>

	</tbody>
</table>
	<script>
		function redirectToNewPage(courseId, studentId) {
			var newUrl = "/CourseGrade/AddGrade?courseId=" + courseId + "&studentId=" + studentId;
			window.location.replace(newUrl);
		}
		</script>
</body>

